-- Verificar trial do usuário brunobgs1888@gmail.com
SELECT 
  e.id,
  e.nome,
  e.email,
  e.trial_end_date,
  e.created_at,
  ue.user_id
FROM empresas e
JOIN user_empresas ue ON e.id = ue.empresa_id
WHERE e.email = 'brunobgs1888@gmail.com';
