-- Verificação completa dos dados do usuário
SELECT 
  e.id,
  e.nome,
  e.email,
  e.telefone,
  e.responsavel,
  e.cpf_cnpj,
  e.trial_end_date,
  e.created_at,
  ue.user_id,
  ue.role
FROM empresas e
JOIN user_empresas ue ON e.id = ue.empresa_id
WHERE e.email = 'brunobgs1888@gmail.com';
